ConAnecoop/Service References/AnecoopLogin/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.anecoop.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.anecoop.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.anecoop.com/">
      <s:element name="CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginResult" type="tns:ServiceTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceTicket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsAuthenticated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiration" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceTicket" nillable="true" type="tns:ServiceTicket" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpGetIn">
    <wsdl:part name="Usuario" type="s:string" />
    <wsdl:part name="Empresa" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:ServiceTicket" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpPostIn">
    <wsdl:part name="Usuario" type="s:string" />
    <wsdl:part name="Empresa" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:ServiceTicket" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpGet">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginHttpGetIn" />
      <wsdl:output message="tns:CheckLoginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginHttpPost">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginHttpPostIn" />
      <wsdl:output message="tns:CheckLoginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://www.anecoop.com/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://www.anecoop.com/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpGet" type="tns:LoginHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckLogin">
      <http:operation location="/CheckLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginHttpPost" type="tns:LoginHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckLogin">
      <http:operation location="/CheckLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://anecoopintegracion.anecoop.com/ServiciosWeb/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://anecoopintegracion.anecoop.com/ServiciosWeb/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpGet" binding="tns:LoginHttpGet">
      <http:address location="http://anecoopintegracion.anecoop.com/ServiciosWeb/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginHttpPost" binding="tns:LoginHttpPost">
      <http:address location="http://anecoopintegracion.anecoop.com/ServiciosWeb/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>